*{margin:0;padding:0;font:inherit;color:inherit;}
a {text-decoration:none}
ul{list-style: none;}
img, svg {display: block;max-width:100%;}
button {background:none;border:0;cursor:pointer;}
body {line-height: 1; color: #000;}

.header {
    display: flex;
    justify-content: center;
    height: 94px;
}

.header .header-inner {
    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    font-size: 18px;
}
.header .logo {
    flex: 1; 
}
.header .gnb {
    flex: 2;
}
.header .gnb ul {
    display: flex;
    gap: 20px; 
}
.header .gnb li {
    flex: 1;
    text-align: center;
    padding: 20px;
}
.header .util-area {
    flex: 1; 
    display: flex;
    justify-content: flex-end; 
}
.header .util-area ul {
    display: flex;
    gap: 20px;
}
.header .util-area li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}
.header .util-area li a {
    font-size: 28px;
}
.header .btn-bar{
    display: none;
}
.header .btn-close{
    display: none;
}
section{
    height: 100vh;
    background: #ddd;
}


.footer {
    position: relative;
    width: 100%;
    background: #f8f8f8;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.footer-inner {
    max-width: 1440px;
    width: 100%;
}
.footer .footer-top{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer .footer-top::before{
    content: '';
    position: absolute;
    bottom: 0px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 100vw; 
    border-bottom: solid 1px #cbcbcb;
    height: 1px;

}

.footer .nav-area {
    position: relative;
    height: 44px;
    line-height: 44px;
 
}
.footer .nav-area ul{
    display: flex;
}

.footer .nav-area li a {
    display: block;
    padding: 0 8px;
    height: 44px;
    line-height: 44px;
    overflow: hidden;
    letter-spacing: -1px;
    font-size: 12px;
    color: #666;
}
.footer .sns-area {
    display: flex;
    gap: 15px;
}

.footer .sns-area li a {
    font-size: 24px;
    color: #333;
}
.footer .footer-bottom{
    display: flex;
    align-items: center;

}
.footer .footer-bottom .logo-area {
    height: 40px;
    margin-right: 40px;
}
.footer .footer-bottom .flex{
    display: flex;
    justify-content: space-between;
}
.footer .footer-bottom .wrap{
    width: 450px;
    color: #999;
    font-size: 12px;
    line-height: 16px;
    margin-top: 5px;
}
.footer .footer-bottom .wrap .text-area > *{
    margin-top: 5px;
}
.footer .footer-bottom .wrap .text-area .title{
    color: #555;
    font-size: 14px;
}
.footer .footer-bottom .wrap .company-area > *{
    margin-top: 5px;
}
.footer .footer-bottom .wrap .copy{
    display: block;
    font-size: 12px;
    margin-top: 5px;
}
.footer .footer-bottom .inquiry-area{
    width: 275px;
}
.footer .footer-bottom .inquiry-area .title{
    color: #999;
}
.footer .footer-bottom .inquiry-area ul{
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    margin-top: 6px;
    /* gap: 10px; */
}
.footer .footer-bottom .inquiry-area li{
    color: #333;
    line-height: 16px;

}
.footer .footer-bottom .inquiry-area li:first-child{
    margin-right: 10px;
}
.footer .footer-bottom .inquiry-area li strong{
    color: #666;
    margin-right: 5px;
}

/* 


.footer-inner .info-area {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}



.footer-inner . {
   
} */



@media (max-width: 767px){
    .header {height: 64px;}
    .header .logo {flex: inherit; width: 120px;}
    .header .header-inner {padding: 20px;}
    .header .gnb {display: none;}
    .header .util-area {display: none;}
    .header .btn-bar{
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        font-size: 22px;
    }
    .gnb.active {
        display: block;
        background: #f00;
    }
    .gnb.active ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: absolute;
        right: 0;
        top: 0;
        background: #f00;
    }
}


@media (max-width: 767px) {
    .footer {
        padding: 30px 20px;
    }

    .footer-inner {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-inner .footer-logo {
        margin-bottom: 15px;
    }

    .footer-inner .nav-area ul {
        flex-direction: column;
        gap: 15px;
    }

    .footer-inner .info-area {
        margin-top: 30px;
    }

    .footer-inner .info-area .sns-area {
    }

    .footer-inner .copy {
        margin-top: 10px;
        font-size: 14px;
    }
}