@font-face {
    font-family: 'Pretendard-ExtraLight';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  
  body{
    font-family: 'Pretendard-Regular';
  }

.head-background {
    width: 100%;
    /* background-image:url(https://png.pngtree.com/thumb_back/fh260/background/20231222/pngtree-white-paper-texture-background-image_15528216.jpg); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    text-align: center;
    padding-top: 5em;
    padding-bottom: 5em;
}

.main-filter-bar {
    background-color: #F6F6F6;
}

.main-filter {
    display: flex;
    height: 2.5em;
    align-items: center;
    justify-content: center;
    margin-bottom: 3em;
}

.icon-box {
    background-color: #D5D5D5;
    height: 100%;
    /* display: flex; */
    justify-content:space-between;
    padding-right: 3px;
    padding-left: 3px;
}


.main-filter select {
    width: 20vw;
    height: 100%;
    font-size: 1em;
    background-color: #D5D5D5;
    border: none;
    margin-right: 10px;
}

.list-area { 
    margin-top: 8em;
}





/* 공통 list */
.list-txt{padding:10px 0;}
/* .list-item{width: 20%;} */
.list-img{width: 100%;height: 370px;background: none; position: relative;overflow:hidden;}
.list-img img{position: absolute;height: 100%;top: 50%; left: 50%;transform: translate(-50%, -50%);}
.list-item .tit{font-weight:bold;}
.list-item .place{font-size:14px;}
.list-item .date{font-size:14px;}
.list-txt p{line-height: 22px;}
.tit {
    text-align: center;
}

.tit-bx {
    position: relative;
    padding-right: 40px; /* 버튼 공간 확보 */
}

.tit-bx button {
    position: absolute;
    top: 10px;
    right: 1px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
}

.list-title {
    font-weight: 600;
    font-size: 3em;
    letter-spacing: 10px;
}

.list-img a {
    width: 100%;
    display: block;
    height: 100%;}

.link-to-detail {width:100%
}


.pagination {
    justify-content: center;
    margin-top: 10em;
    margin-bottom: 10em;
    border: none;
    color: #00A9FF;
}

.pagination a {
    border-radius: 5px;

}


.page-link {
    border : none;
    color: #000;
    font-size: 1em;
}


  
/*  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }

  .pagination a.active {
    background-color: #4CAF50;
    color: white;} */

