.head-background {
    width: 100vw;
    background-color: #eaeaea;
    text-align: center;
    padding-top: 8em;
    padding-bottom: 5em;
}

.main-filter-bar {
    background-color: #F6F6F6;
}

.main-filter {
    display: flex;
    height: 2.5em;
    align-items: center;
    margin-bottom: 3em;
}

.icon-box {
    background-color: #A6A6A6;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 4px;
    padding-left: 4px;
}


.main-filter select {
    width: 20%;
    height: 100%;
    font-size: 1em;
    background-color: #D5D5D5;
    border: none;
}

.list-area { 
    margin-top: 8em;
}

.date-filer {
    background-color: #D5D5D5;
}

.item-size {
    padding: 5px;
}

.item-size div{
    background-color: grey;
    height: 300px;
}

.pagination {
    justify-content: center;
    margin-top: 100px;
}